

<div class='mt-16 bg-LightGray rounded-md flex justify-center'>
    <div class='w-10/12 py-10  '>
    <div class='flex justify-center items-center  gap-2'>
        <div class='w-full '>
            <app-input></app-input>
        </div>
        <div className='p-1 bg-main rounded-md'  >
            <img class='w-5 h-5 ' src= "../../assets/img/trashIcon.png" alt="image" /> 
        </div>
    </div>

    <div class='pt-5' >
        <p class='text-white'>Tasks to do - 4</p>
    </div>

  


    <div class='pt-5'>
        <p class='text-white'>Done</p>
    </div>

    </div>
</div>